@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

html {
  /* font-family: 'Poppins', sans-serif; */
  background: url("../img/shapes.png")
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  height: calc(100% - 150px);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.863);
  border-radius: 25px;
}

#contact-container h1 {
  margin: 0 0 10px 0;
  color: #25948E;
}

#search-container {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

#search-container img {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  padding: 3px;
  border-radius: 20px;
  background-color: #25948E;
}

#contact-search-input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  text-align: center;
}

#table-container {
  flex-grow: 1;
  min-height: 0;
  overflow: auto;
  width: 100%;
  border: 1px solid silver;
  margin-bottom: 20px;
}

#contact-table {
  width: 100%;
  overflow: scroll;
  border-collapse: collapse;
}

#contact-table th {
  padding: 5px 0;
  background-color: #26D4D4;
}

#contact-table tr:nth-child(even){
  background-color: #ddd
}

#contact-table td {
  padding: 10px 0;
  text-align: center;
}

.edit-button, .confirm-button, .delete-button {
  margin: 0 5px;
  height: 25px;
  width: 70px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: .75rem;
}

.edit-button, .confirm-button {
  background-color: #8cdd84;
}

.delete-button {
  background-color: #da5e70;
}

#new-contact-bttn {
  align-self: flex-end;
  height: 50px;
  width: 250px;
  border-radius: 20px;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  background-color: #ECBC27;
  box-shadow: -5px 5px 40px -15px #000;
}
