@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html
{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: url("../img/shapes.png")
}

.contact-builder
{
  background:#fff;
}
.container
{
  border-radius: 20px;
  background:rgba(255, 255, 255, 0.863);
  padding-bottom:200px;
  padding-top:20px;
  padding-left: 300px;
  padding-right: 300px;
}
.form-container
{
  border-radius: 20px;
  background: #eeca00;
  padding-bottom:30px;
  padding-top:20px;
  padding-left: px;
  padding-right: 0px;
  position: relative;;
  top:40px;
  right:250px;
}
form
{
  margin:20px auto;
  width: 320px;
  color:rgb(0, 7, 7);
  padding-left: 30px;
}
input{
 
  padding-left: 40px;
  font-size:inherit;

}
input[type="text"]
{
  display: block;
  margin-bottom: 20px;
  width:80%;
  border:2px orangered;
}

